openapi: 3.1.0
info:
  title: Discogs API
  version: "2.0"
  description: >
    Unofficial OpenAPI spec for the Discogs API v2.0.
    Source: https://www.discogs.com/developers/
    Covers the full public Discogs API v2.0: Authentication, Database,
    Marketplace, Inventory Export, Inventory Upload, User Identity, User
    Collection, User Wantlist, and User Lists.
  termsOfService: https://support.discogs.com/hc/articles/360009334593-API-Terms-of-Use
  contact:
    url: https://www.discogs.com/developers/

servers:
- url: https://api.discogs.com
  description: Production API

# ---------------------------------------------------------------------------
# SECURITY
# ---------------------------------------------------------------------------
# Discogs supports several authentication modes:
#  1. No authentication       - low rate-limit tier, no image URLs
#  2. Consumer key/secret     - high rate-limit tier, image URLs,
#                               but does NOT identify the requester as a user
#  3. Personal access token   - high rate-limit tier, image URLs,
#                               identifies the requester (token holder only)
#  4. Full OAuth 1.0a         - same as token, but on behalf of any user
#
# OpenAPI 3.x has no first-class support for OAuth 1.0a (only OAuth2/OIDC),
# so the request_token / access_token flow is modeled below as plain paths,
# and the resulting access token/secret is represented as an apiKey header.
# This is a simplification but works for client codegen.
  x-internal: false
security: &id015
- discogsToken: []
- discogsKey: []
  discogsSecret: []

# ---------------------------------------------------------------------------
# REUSABLE COMPONENTS
# ---------------------------------------------------------------------------
components:

  securitySchemes:
    discogsKey:
      type: apiKey
      in: query
      name: key
      description: >
        Consumer Key of your Discogs application. Use together with discogsSecret.
        Register your app at: discogs.com → Settings → Developers → Register an Application.
        Does not identify a user — only increases the rate limit and unlocks image URLs.

    discogsSecret:
      type: apiKey
      in: query
      name: secret
      description: >
        Consumer Secret of your Discogs application. Use together with discogsKey.

    discogsToken:
      type: apiKey
      in: header
      name: Authorization
      description: >
        Personal Access Token — identifies you as a specific Discogs user.
        Get yours at: discogs.com → Settings → Developers → Generate Token.
        Value format: 'Discogs token=YOUR_TOKEN'


  # -------------------------------------------------------------------------
  # Shared query parameters (reused across all paginated/list endpoints)
  # -------------------------------------------------------------------------
  parameters:
    pageParam:
      name: page
      in: query
      required: false
      description: The page you want to request
      schema:
        type: integer
        minimum: 1
        default: 1

        format: int32
        maximum: 9999
    perPageParam:
      name: per_page
      in: query
      required: false
      description: The number of items per page (up to 100)
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 50

        format: int32
    currAbbrParam:
      name: curr_abbr
      in: query
      required: false
      description: >
        Currency for marketplace data. Defaults to the authenticated user's
        currency.
      schema:
        type: string
        enum: [USD, GBP, EUR, CAD, AUD, JPY, CHF, MXN, BRL, NZD, SEK, ZAR]

  # -------------------------------------------------------------------------
  # Shared response headers (rate limiting + pagination Link header)
  # -------------------------------------------------------------------------
  headers:
    RateLimit:
      description: The total number of requests you can make in a one minute window
      schema:
        type: integer

        format: int32
        minimum: 0
        maximum: 2147483647
    RateLimitUsed:
      description: The number of requests you've made in your existing rate limit window
      schema:
        type: integer

        format: int32
        minimum: 0
        maximum: 2147483647
    RateLimitRemaining:
      description: The number of remaining requests you are able to make in the existing rate limit window
      schema:
        type: integer

        format: int32
        minimum: 0
        maximum: 2147483647
    Link:
      description: >
        RFC5988 Link header with rel=next/prev/first/last for pagination
        (duplicates the pagination object in the response body)
      schema:
        type: string

  # -------------------------------------------------------------------------
  # Shared schemas
  # -------------------------------------------------------------------------
        maxLength: 500
        pattern: ^[\s\S]*$
    RateLimit-Limit:
      description: Total requests allowed per rate-limit window
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 100
    RateLimit-Remaining:
      description: Requests remaining in the current rate-limit window
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 100
    Access-Control-Allow-Origin:
      description: CORS Access-Control-Allow-Origin header
      schema:
        type: string
        enum:
        - '*'
    X-RateLimit-Limit:
      description: Total requests allowed per rate-limit window (X-RateLimit style)
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 100
    RateLimit-Reset:
      description: Unix timestamp when the rate-limit window resets
      schema:
        type: integer
        format: int64
        minimum: 0
        maximum: 9999999999
    Retry-After:
      description: Seconds to wait before retrying after a 429 Too Many Requests response
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 86400
  schemas:

    Error:
      type: object
      properties:
        message:
          type: string
          maxLength: 5000
          pattern: ^[\s\S]*$
      required: [message]

    PaginationUrls:
      type: object
      properties:
        first:
          type: string
          format: uri
          maxLength: 2083
        prev:
          type: string
          format: uri
          maxLength: 2083
        next:
          type: string
          format: uri
          maxLength: 2083
        last:
          type: string
          format: uri

          maxLength: 2083
    Pagination:
      type: object
      description: Embedded in the body of any paginated response
      properties:
        page:
          type: integer
          format: int32
          minimum: 1
          maximum: 9999
        pages:
          type: integer
          format: int32
          minimum: 1
          maximum: 9999
        items:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
        per_page:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
        urls:
          $ref: '#/components/schemas/PaginationUrls'
      required: [page, pages, items, per_page]

    Image:
      type: object
      properties:
        type:
          type: string
          enum: [primary, secondary]
        uri:
          type: string
          format: uri
          maxLength: 2083
        uri150:
          type: string
          format: uri
          maxLength: 2083
        resource_url:
          type: string
          format: uri
          maxLength: 2083
        width:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
        height:
          type: integer

          format: int32
          minimum: 0
          maximum: 2147483647
    Video:
      type: object
      description: Embedded in Release and Master objects
      properties:
        uri:
          type: string
          format: uri
          maxLength: 2083
        title:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        description:
          type: string
          maxLength: 5000
          pattern: ^[\s\S]*$
        duration:
          type: integer
          description: Duration in seconds
          format: int32
          minimum: 0
          maximum: 2147483647
        embed:
          type: boolean

    Identifier:
      type: object
      properties:
        type:
          type: string
          example: Barcode
          maxLength: 500
          pattern: ^[\s\S]*$
        value:
          type: string

          maxLength: 500
          pattern: ^[\s\S]*$
    Format:
      type: object
      properties:
        name:
          type: string
          example: Vinyl
          maxLength: 500
          pattern: ^[\s\S]*$
        qty:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        descriptions:
          type: array
          items:
            type: string

            maxLength: 500
            pattern: ^[\s\S]*$
          maxItems: 500
    Track:
      type: object
      properties:
        position:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        type_:
          type: string
          example: track
          maxLength: 500
          pattern: ^[\s\S]*$
        title:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        duration:
          type: string
          example: "3:32"
          maxLength: 500
          pattern: ^[\s\S]*$
        extraartists:
          type: array
          items:
            $ref: '#/components/schemas/ArtistRef'

          maxItems: 500
    UserRef:
      type: object
      description: Minimal user reference (e.g. contributor, submitter)
      properties:
        username:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        resource_url:
          type: string
          format: uri

          maxLength: 2083
    Company:
      type: object
      description: Companies field on a Release (manufacturers, distributors, etc.)
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        name:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        catno:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        entity_type:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        entity_type_name:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        resource_url:
          type: string
          format: uri

    # Nested reference used inside Release/Master/Listing — the full Artist
    # resource is described separately below.
          maxLength: 2083
    ArtistRef:
      type: object
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        name:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        anv:
          type: string
          description: Artist Name Variation
          maxLength: 500
          pattern: ^[\s\S]*$
        join:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        role:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        tracks:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        resource_url:
          type: string
          format: uri

    # Nested reference used inside Release — the full Label resource
    # is described separately below.
          maxLength: 2083
    LabelRef:
      type: object
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        name:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        catno:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        entity_type:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        entity_type_name:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        resource_url:
          type: string
          format: uri

          maxLength: 2083
    Price:
      type: object
      properties:
        currency:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        value:
          type: number

    # --- Marketplace: shared building blocks --------------------------------

    Condition:
      type: string
      description: Media condition grading scale used across Marketplace endpoints
      enum:
      - Mint (M)
      - Near Mint (NM or M-)
      - Very Good Plus (VG+)
      - Very Good (VG)
      - Good Plus (G+)
      - Good (G)
      - Fair (F)
      - Poor (P)

    SleeveCondition:
      type: string
      description: Sleeve condition grading scale (superset of Condition)
      enum:
      - Mint (M)
      - Near Mint (NM or M-)
      - Very Good Plus (VG+)
      - Very Good (VG)
      - Good Plus (G+)
      - Good (G)
      - Fair (F)
      - Poor (P)
      - Generic
      - Not Graded
      - No Cover

    OrderStatus:
      type: string
      enum:
      - New Order
      - Buyer Contacted
      - Invoice Sent
      - Payment Pending
      - Payment Received
      - In Progress
      - Shipped
      - Merged
      - Order Changed
      - Refund Sent
      - Cancelled
      - Cancelled (Non-Paying Buyer)
      - Cancelled (Item Unavailable)
      - Cancelled (Per Buyer's Request)
      - Cancelled (Refund Received)

    ListingStatus:
      type: string
      enum: [For Sale, Draft, Expired, Sold, Suspended, Violation, Deleted]

    OriginalPrice:
      type: object
      description: Price expressed in the listing's native currency, alongside the requested curr_abbr conversion
      properties:
        curr_abbr:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        curr_id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        formatted:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        value:
          type: number

    ShippingPrice:
      type: object
      properties:
        currency:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        method:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        value:
          type: number

    SellerStats:
      type: object
      properties:
        rating:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        stars:
          type: number
        total:
          type: integer

          format: int32
          minimum: 0
          maximum: 2147483647
    SellerRef:
      type: object
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        username:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        resource_url:
          type: string
          format: uri
          maxLength: 2083
        url:
          type: string
          format: uri
          maxLength: 2083
        avatar_url:
          type: string
          format: uri
          maxLength: 2083
        shipping:
          type: string
          maxLength: 5000
          pattern: ^[\s\S]*$
        payment:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        stats:
          $ref: '#/components/schemas/SellerStats'

    ListingReleaseRef:
      type: object
      description: Minimal release info embedded in a Listing/Inventory item (not the full Release resource)
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        description:
          type: string
          maxLength: 5000
          pattern: ^[\s\S]*$
        artist:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        title:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        format:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        year:
          type: integer
          format: int32
          minimum: 1000
          maximum: 9999
        catalog_number:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        resource_url:
          type: string
          format: uri
          maxLength: 2083
        thumbnail:
          type: string
          format: uri

          maxLength: 2083
    InventoryListingItem:
      type: object
      description: >
        Listing item as returned in a seller's Inventory listing. Owner-only
        fields (weight, format_quantity, external_id, location, quantity,
        in_cart) are present only when authenticated as the inventory owner.
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        status:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        price:
          $ref: '#/components/schemas/Price'
        allow_offers:
          type: boolean
        sleeve_condition:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        condition:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        posted:
          type: string
          format: date-time
          maxLength: 50
        ships_from:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        uri:
          type: string
          format: uri
          maxLength: 2083
        comments:
          type: string
          maxLength: 5000
          pattern: ^[\s\S]*$
        audio:
          type: boolean
        seller:
          $ref: '#/components/schemas/SellerRef'
        release:
          $ref: '#/components/schemas/ListingReleaseRef'
        resource_url:
          type: string
          format: uri
          maxLength: 2083
        weight:
          type: number
          description: Owner-only field
        format_quantity:
          type: integer
          description: Owner-only field
          format: int32
          minimum: 0
          maximum: 2147483647
        external_id:
          type: string
          description: Owner-only field ("Private Comments" on the website)
          maxLength: 500
          pattern: ^[\s\S]*$
        location:
          type: string
          description: Owner-only field
          maxLength: 500
          pattern: ^[\s\S]*$
        quantity:
          type: integer
          description: Owner-only field; read-only and fixed at 1 for NearMint users
          format: int32
          minimum: 0
          maximum: 2147483647
        in_cart:
          type: boolean
          description: Present only when the requester is authenticated

    Listing:
      type: object
      description: Full Marketplace listing resource (GET /marketplace/listings/{listing_id})
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        status:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        price:
          $ref: '#/components/schemas/Price'
        original_price:
          $ref: '#/components/schemas/OriginalPrice'
        allow_offers:
          type: boolean
        sleeve_condition:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        condition:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        posted:
          type: string
          format: date-time
          maxLength: 50
        ships_from:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        uri:
          type: string
          format: uri
          maxLength: 2083
        comments:
          type: string
          maxLength: 5000
          pattern: ^[\s\S]*$
        seller:
          $ref: '#/components/schemas/SellerRef'
        shipping_price:
          $ref: '#/components/schemas/Price'
        original_shipping_price:
          $ref: '#/components/schemas/OriginalPrice'
        release:
          $ref: '#/components/schemas/ListingReleaseRef'
        resource_url:
          type: string
          format: uri
          maxLength: 2083
        audio:
          type: boolean
        weight:
          type: number
          description: Owner-only field
        format_quantity:
          type: integer
          description: Owner-only field
          format: int32
          minimum: 0
          maximum: 2147483647
        external_id:
          type: string
          description: Owner-only field ("Private Comments" on the website)
          maxLength: 500
          pattern: ^[\s\S]*$
        location:
          type: string
          description: Owner-only field
          maxLength: 500
          pattern: ^[\s\S]*$
        quantity:
          type: integer
          description: Owner-only field
          format: int32
          minimum: 0
          maximum: 2147483647
        in_cart:
          type: boolean
          description: Present only when the requester is authenticated

    NewListingRequest:
      type: object
      properties:
        release_id:
          type: integer
          description: The ID of the release you are posting
          format: int64
          minimum: 1
          maximum: 2147483647
        condition:
          $ref: '#/components/schemas/Condition'
        sleeve_condition:
          $ref: '#/components/schemas/SleeveCondition'
        price:
          type: number
          description: The price of the item (in the seller's currency)
        comments:
          type: string
          description: Any remarks about the item that will be displayed to buyers
          maxLength: 5000
          pattern: ^[\s\S]*$
        allow_offers:
          type: boolean
          default: false
        status:
          type: string
          enum: [For Sale, Draft]
          description: Defaults to "For Sale"
        external_id:
          type: string
          description: Freeform seller-only reference ("Private Comments" on the website)
          maxLength: 500
          pattern: ^[\s\S]*$
        location:
          type: string
          description: Freeform field to help identify physical storage location
          maxLength: 500
          pattern: ^[\s\S]*$
        weight:
          description: Weight in grams, or "auto" to estimate automatically
          oneOf:
          - type: number
          - type: string
            enum: [auto]
        format_quantity:
          description: Number of items this listing counts as for shipping ("Counts As"), or "auto"
          oneOf:
          - type: number
          - type: string
            enum: [auto]
      required: [release_id, condition, price, status]
      example:
        release_id: 249504
        condition: Very Good Plus (VG+)
        sleeve_condition: Very Good Plus (VG+)
        price: 9.99
        comments: Light surface marks, plays perfectly
        allow_offers: false
        status: For Sale
        weight: 200
        format_quantity: 1

    NewListingResponse:
      type: object
      properties:
        listing_id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        resource_url:
          type: string
          format: uri

          maxLength: 2083
    OrderItem:
      type: object
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        release:
          type: object
          properties:
            id:
              type: integer
              format: int64
              minimum: 1
              maximum: 2147483647
            description:
              type: string
              maxLength: 5000
              pattern: ^[\s\S]*$
        price:
          $ref: '#/components/schemas/Price'
        media_condition:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        sleeve_condition:
          type: string

          maxLength: 500
          pattern: ^[\s\S]*$
    OrderTracking:
      type: object
      properties:
        number:
          type: string
          description: The tracking number provided by the carrier
          maxLength: 500
          pattern: ^[\s\S]*$
        carrier:
          type: string
          enum: [UPS, USPS, DHL, Deutsche Post, La Poste, Royal Mail, PostNL, DHL Germany, Other]
          description: Defaults to no carrier specified if omitted
      required: [number]

    Order:
      type: object
      properties:
        id:
          type: string
          description: Composite order ID, e.g. "1-1"
          maxLength: 500
          pattern: ^[\s\S]*$
        resource_url:
          type: string
          format: uri
          maxLength: 2083
        messages_url:
          type: string
          format: uri
          maxLength: 2083
        uri:
          type: string
          format: uri
          maxLength: 2083
        status:
          $ref: '#/components/schemas/OrderStatus'
        next_status:
          type: array
          description: Valid statuses the order can transition to next
          items:
            $ref: '#/components/schemas/OrderStatus'
          maxItems: 500
        fee:
          $ref: '#/components/schemas/Price'
        created:
          type: string
          format: date-time
          maxLength: 50
        last_activity:
          type: string
          format: date-time
          maxLength: 50
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
          maxItems: 500
        shipping:
          $ref: '#/components/schemas/ShippingPrice'
        shipping_address:
          type: string
          maxLength: 5000
          pattern: ^[\s\S]*$
        additional_instructions:
          type: string
          maxLength: 5000
          pattern: ^[\s\S]*$
        archived:
          type: boolean
        seller:
          $ref: '#/components/schemas/SellerRef'
        buyer:
          $ref: '#/components/schemas/SellerRef'

    EditOrderRequest:
      type: object
      description: >
        All fields optional; status must be present in the order's next_status
        list. status and shipping are mutually exclusive in a single request:
        changing shipping always sets the order status to "Invoice Sent" as a
        side effect, so the API does not allow setting both at once.
      properties:
        status:
          $ref: '#/components/schemas/OrderStatus'
        shipping:
          type: number
          description: >
            The order shipping amount. As a side-effect of setting this value,
            the buyer is invoiced and the order status is set to "Invoice Sent"
        tracking:
          $ref: '#/components/schemas/OrderTracking'
          description: Only the seller can set tracking; buyers get 403 Forbidden

      example:
        status: Payment Received
        tracking:
          number: 1Z999AA10123456784
          carrier: UPS
    OrderMessage:
      type: object
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        message:
          type: string
          maxLength: 5000
          pattern: ^[\s\S]*$
        timestamp:
          type: string
          format: date-time
          maxLength: 50
        subject:
          type: string
          maxLength: 5000
          pattern: ^[\s\S]*$
        from:
          $ref: '#/components/schemas/UserRef'
        order:
          type: object
          properties:
            resource_url:
              type: string
              format: uri
              maxLength: 2083
        status_id:
          type: integer
          description: Internal status code associated with a status-change message
          format: int64
          minimum: 1
          maximum: 2147483647
        order_status:
          $ref: '#/components/schemas/OrderStatus'
          description: Present when the message represents a status change

    NewOrderMessageRequest:
      type: object
      description: >
        message and status are each optional, but at least one must be present.
        If status is set, the message is automatically prepended with
        "Seller changed status from <Old Status> to <New Status>".
      properties:
        message:
          type: string
          maxLength: 5000
          pattern: ^[\s\S]*$
        status:
          $ref: '#/components/schemas/OrderStatus'

      example:
        message: Thank you for your order! I will ship on Monday.
        status: Shipped
    PriceSuggestions:
      type: object
      description: Map keyed by condition grade, e.g. "Near Mint (NM or M-)"
      additionalProperties:
        $ref: '#/components/schemas/Price'

    ReleaseMarketplaceStats:
      type: object
      properties:
        blocked_from_sale:
          type: boolean
        lowest_price:
          $ref: '#/components/schemas/Price'
        num_for_sale:
          type: integer

    # --- Inventory Export ----------------------------------------------------

          format: int32
          minimum: 0
          maximum: 2147483647
      example:
        num_for_sale: 105
        lowest_price:
          value: 0.66
          currency: USD
        blocked_from_sale: false
    InventoryExportStatus:
      type: string
      enum: [success, error]

    InventoryExportJob:
      type: object
      description: >
        An inventory export job, as created by POST /inventory/export and
        polled via GET /inventory/export/{id}.
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        status:
          $ref: '#/components/schemas/InventoryExportStatus'
        created_ts:
          type: string
          format: date-time
          maxLength: 50
        finished_ts:
          type: string
          format: date-time
          description: Present once the export has finished (success or failed)
          maxLength: 50
        download_url:
          type: string
          format: uri
          description: Present once status is "success"
          maxLength: 2083
        filename:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        url:
          type: string
          format: uri
          description: resource_url of this export job (GET /inventory/export/{id})

    # --- Inventory Upload ------------------------------------------------------

          maxLength: 2083
    InventoryUploadStatus:
      type: string
      enum: [success, error]

    InventoryUploadJob:
      type: object
      description: >
        An inventory upload job, as created by POST /inventory/upload/{add,
        change,delete} and polled via GET /inventory/upload/{id}.
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        status:
          $ref: '#/components/schemas/InventoryUploadStatus'
        type:
          type: string
          description: Which upload operation was performed
          enum: [add, change, delete]
        results:
          type: string
          description: Human-readable summary, e.g. "CSV file contains 1 records.<p>Processed 1 records."
          maxLength: 5000
          pattern: ^[\s\S]*$
        created_ts:
          type: string
          format: date-time
          maxLength: 50
        finished_ts:
          type: string
          format: date-time
          description: Present once the upload has finished
          maxLength: 50
        filename:
          type: string

    # --- User Identity --------------------------------------------------------

          maxLength: 500
          pattern: ^[\s\S]*$
    Identity:
      type: object
      description: Minimal info about the authenticated user (GET /oauth/identity)
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        username:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        resource_url:
          type: string
          format: uri
          maxLength: 2083
        consumer_name:
          type: string

          maxLength: 500
          pattern: ^[\s\S]*$
    UserProfile:
      type: object
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        username:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        name:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        email:
          type: string
          description: Only visible when authenticated as the requested user
          maxLength: 500
          pattern: ^[\s\S]*$
        profile:
          type: string
          maxLength: 5000
          pattern: ^[\s\S]*$
        home_page:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        location:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        registered:
          type: string
          format: date-time
          maxLength: 50
        rank:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
        num_pending:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
        num_for_sale:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
        num_collection:
          type: integer
          description: Visible if authenticated as the user or if the collection is public
          format: int32
          minimum: 0
          maximum: 2147483647
        num_wantlist:
          type: integer
          description: Visible if authenticated as the user or if the wantlist is public
          format: int32
          minimum: 0
          maximum: 2147483647
        num_lists:
          type: integer
          description: Includes private lists only when authenticated as the user
          format: int32
          minimum: 0
          maximum: 2147483647
        releases_contributed:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
        releases_rated:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
        rating_avg:
          type: number
        buyer_rating:
          type: number
        buyer_rating_stars:
          type: integer
          format: int32
          minimum: 0
          maximum: 5
        buyer_num_ratings:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
        seller_rating:
          type: number
        seller_rating_stars:
          type: integer
          format: int32
          minimum: 0
          maximum: 5
        seller_num_ratings:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
        curr_abbr:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        avatar_url:
          type: string
          format: uri
          maxLength: 2083
        banner_url:
          type: string
          format: uri
          maxLength: 2083
        uri:
          type: string
          format: uri
          maxLength: 2083
        resource_url:
          type: string
          format: uri
          maxLength: 2083
        inventory_url:
          type: string
          format: uri
          maxLength: 2083
        collection_folders_url:
          type: string
          format: uri
          maxLength: 2083
        collection_fields_url:
          type: string
          format: uri
          maxLength: 2083
        wantlist_url:
          type: string
          format: uri

          maxLength: 2083
      example:
        id: 78020
        username: vargind
        name: ''
        location: Auckland, New Zealand
        home_page: http://www.industrialjazz.org
        resource_url: https://api.discogs.com/users/vargind
        uri: https://www.discogs.com/user/vargind
        rank: 10580.0
        num_for_sale: 0
        num_collection: 2259
        num_lists: 3
        releases_contributed: 1835
        releases_rated: 1556
        rating_avg: 3.81
        buyer_rating: 0.0
        buyer_rating_stars: 0.0
        buyer_num_ratings: 0
        seller_rating: 0.0
        seller_rating_stars: 0.0
        seller_num_ratings: 0
        curr_abbr: ''
        registered: '2004-03-22T12:07:36-08:00'
        inventory_url: https://api.discogs.com/users/vargind/inventory
        collection_folders_url: https://api.discogs.com/users/vargind/collection/folders
        wantlist_url: https://api.discogs.com/users/vargind/wants
        profile: "I spent a lot of time and energy here, but I don't have the time or energy anymore. \r\n\r\nMy collection
          is not for sale. PLEASE STOP ASKING. It's amazing how many people ask even though I explicitly say…"
    EditUserProfileRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        home_page:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        location:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        profile:
          type: string
          maxLength: 5000
          pattern: ^[\s\S]*$
        curr_abbr:
          type: string
          enum: [USD, GBP, EUR, CAD, AUD, JPY, CHF, MXN, BRL, NZD, SEK, ZAR]
      example:

        name: Vinyl Collector
        home_page: http://www.industrialjazz.org
        location: Auckland, New Zealand
        profile: Collector of electronic and jazz vinyl.
        curr_abbr: USD
    UserSubmissions:
      type: object
      properties:
        artists:
          type: array
          items:
            $ref: '#/components/schemas/Artist'
          maxItems: 500
        labels:
          type: array
          items:
            $ref: '#/components/schemas/Label'
          maxItems: 500
        releases:
          type: array
          items:
            $ref: '#/components/schemas/Release'

    # --- User Collection --------------------------------------------------------

          maxItems: 500
    CollectionFolder:
      type: object
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        name:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        count:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
        resource_url:
          type: string
          format: uri

          maxLength: 2083
    NewCollectionFolderRequest:
      type: object
      properties:
        name:
          type: string
          description: The name of the newly-created folder

          maxLength: 500
          pattern: ^[\s\S]*$
      example:
        name: Jazz
    CollectionBasicLabel:
      type: object
      properties:
        name:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        entity_type:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        catno:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        resource_url:
          type: string
          format: uri
          maxLength: 2083
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        entity_type_name:
          type: string

          maxLength: 500
          pattern: ^[\s\S]*$
    CollectionBasicInformation:
      type: object
      description: >
        Lightweight release summary embedded in Collection/Wantlist list items
        (not the full Release resource — fetch /releases/{id} for full detail)
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        title:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        year:
          type: integer
          format: int32
          minimum: 1000
          maximum: 9999
        resource_url:
          type: string
          format: uri
          maxLength: 2083
        thumb:
          type: string
          format: uri
          maxLength: 2083
        cover_image:
          type: string
          format: uri
          maxLength: 2083
        formats:
          type: array
          items:
            $ref: '#/components/schemas/Format'
          maxItems: 500
        labels:
          type: array
          items:
            $ref: '#/components/schemas/CollectionBasicLabel'
          maxItems: 500
        artists:
          type: array
          items:
            $ref: '#/components/schemas/ArtistRef'
          maxItems: 500
        genres:
          type: array
          items:
            type: string
            maxLength: 500
            pattern: ^[\s\S]*$
          maxItems: 500
        styles:
          type: array
          items:
            type: string

            maxLength: 500
            pattern: ^[\s\S]*$
          maxItems: 500
    CollectionNote:
      type: object
      description: Value of a user-defined collection notes field on a release instance
      properties:
        field_id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        value:
          type: string

          maxLength: 500
          pattern: ^[\s\S]*$
    CollectionReleaseByRelease:
      type: object
      description: An item returned by Collection Items By Release
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        instance_id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        rating:
          type: integer
          format: int32
          minimum: 0
          maximum: 5
        folder_id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        date_added:
          type: string
          format: date-time
          maxLength: 50
        basic_information:
          $ref: '#/components/schemas/CollectionBasicInformation'

    CollectionReleaseByFolder:
      type: object
      description: An item returned by Collection Items By Folder
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        instance_id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        folder_id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        rating:
          type: integer
          format: int32
          minimum: 0
          maximum: 5
        date_added:
          type: string
          format: date-time
          maxLength: 50
        basic_information:
          $ref: '#/components/schemas/CollectionBasicInformation'
        notes:
          type: array
          items:
            $ref: '#/components/schemas/CollectionNote'

          maxItems: 500
    AddReleaseToFolderResponse:
      type: object
      properties:
        instance_id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        resource_url:
          type: string
          format: uri

          maxLength: 2083
    ChangeRatingRequest:
      type: object
      properties:
        folder_id:
          type: integer
          description: Present only if you want to move the instance to this folder
          format: int64
          minimum: 1
          maximum: 2147483647
        rating:
          type: integer
          minimum: 0
          maximum: 5

          format: int32
      example:
        rating: 4
        folder_id: 1
    CollectionFieldOption:
      type: string

      maxLength: 500
      pattern: ^[\s\S]*$
    CollectionField:
      type: object
      description: >
        A user-defined collection notes field. "dropdown" fields include
        options; "textarea" fields include lines instead.
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        name:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        position:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
        type:
          type: string
          enum: [dropdown, textarea]
        public:
          type: boolean
        options:
          type: array
          items:
            type: string
            maxLength: 500
            pattern: ^[\s\S]*$
          description: Present when type is "dropdown"
          maxItems: 500
        lines:
          type: integer
          description: Present when type is "textarea"

          format: int32
          minimum: 0
          maximum: 2147483647
    CollectionValue:
      type: object
      description: >
        Currency-formatted strings (e.g. "$250.00"), not numeric values —
        as returned verbatim by the API.
      properties:
        minimum:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        median:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        maximum:
          type: string

    # --- User Wantlist --------------------------------------------------------

          maxLength: 500
          pattern: ^[\s\S]*$
    WantlistItem:
      type: object
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        rating:
          type: integer
          format: int32
          minimum: 0
          maximum: 5
        notes:
          type: string
          description: Only visible when authenticated as the wantlist owner
          maxLength: 5000
          pattern: ^[\s\S]*$
        resource_url:
          type: string
          format: uri
          maxLength: 2083
        basic_information:
          $ref: '#/components/schemas/CollectionBasicInformation'

    # --- User Lists -------------------------------------------------------------

    UserListSummary:
      type: object
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        name:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        description:
          type: string
          maxLength: 5000
          pattern: ^[\s\S]*$
        public:
          type: boolean
        date_added:
          type: string
          format: date-time
          maxLength: 50
        date_changed:
          type: string
          format: date-time
          maxLength: 50
        uri:
          type: string
          format: uri
          maxLength: 2083
        resource_url:
          type: string
          format: uri

          maxLength: 2083
    ListItem:
      type: object
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        type:
          type: string
          enum: [release, master, artist, label]
        display_title:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        comment:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        uri:
          type: string
          format: uri
          maxLength: 2083
        image_url:
          type: string
          format: uri
          maxLength: 2083
        resource_url:
          type: string
          format: uri

          maxLength: 2083
    ListDetail:
      type: object
      properties:
        list_id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        name:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        description:
          type: string
          maxLength: 5000
          pattern: ^[\s\S]*$
        public:
          type: boolean
        created_ts:
          type: string
          format: date-time
          maxLength: 50
        modified_ts:
          type: string
          format: date-time
          maxLength: 50
        url:
          type: string
          format: uri
          maxLength: 2083
        resource_url:
          type: string
          format: uri
          maxLength: 2083
        items:
          type: array
          items:
            $ref: '#/components/schemas/ListItem'

    # --- Database: Release -------------------------------------------------

          maxItems: 500
    ReleaseCommunityRating:
      type: object
      properties:
        average:
          type: number
        count:
          type: integer

          format: int32
          minimum: 0
          maximum: 2147483647
    ReleaseCommunity:
      type: object
      properties:
        contributors:
          type: array
          items:
            $ref: '#/components/schemas/UserRef'
          maxItems: 500
        data_quality:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        have:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
        want:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
        status:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        submitter:
          $ref: '#/components/schemas/UserRef'
        rating:
          $ref: '#/components/schemas/ReleaseCommunityRating'

    Release:
      type: object
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        title:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        artists:
          type: array
          items:
            $ref: '#/components/schemas/ArtistRef'
          maxItems: 500
        extraartists:
          type: array
          items:
            $ref: '#/components/schemas/ArtistRef'
          maxItems: 500
        data_quality:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        thumb:
          type: string
          format: uri
          maxLength: 2083
        community:
          $ref: '#/components/schemas/ReleaseCommunity'
        companies:
          type: array
          items:
            $ref: '#/components/schemas/Company'
          maxItems: 500
        labels:
          type: array
          items:
            $ref: '#/components/schemas/LabelRef'
          maxItems: 500
        country:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        date_added:
          type: string
          format: date-time
          maxLength: 50
        date_changed:
          type: string
          format: date-time
          maxLength: 50
        estimated_weight:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
        format_quantity:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
        formats:
          type: array
          items:
            $ref: '#/components/schemas/Format'
          maxItems: 500
        genres:
          type: array
          items:
            type: string
            maxLength: 500
            pattern: ^[\s\S]*$
          maxItems: 500
        styles:
          type: array
          items:
            type: string
            maxLength: 500
            pattern: ^[\s\S]*$
          maxItems: 500
        identifiers:
          type: array
          items:
            $ref: '#/components/schemas/Identifier'
          maxItems: 500
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'
          maxItems: 500
        lowest_price:
          type: number
        master_id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        master_url:
          type: string
          format: uri
          maxLength: 2083
        notes:
          type: string
          maxLength: 5000
          pattern: ^[\s\S]*$
        num_for_sale:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
        released:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        released_formatted:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        resource_url:
          type: string
          format: uri
          maxLength: 2083
        series:
          type: array
          items: {}
          maxItems: 500
        status:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        tracklist:
          type: array
          items:
            $ref: '#/components/schemas/Track'
          maxItems: 500
        uri:
          type: string
          format: uri
          maxLength: 2083
        videos:
          type: array
          items:
            $ref: '#/components/schemas/Video'
          maxItems: 500
        year:
          type: integer

          format: int32
          minimum: 1000
          maximum: 9999
      example:
        id: 249504
        title: Never Gonna Give You Up
        year: 1987
        country: UK
        status: Accepted
        genres:
        - Electronic
        - Pop
        styles:
        - Euro-Disco
        released: '1987-07-00'
        released_formatted: Jul 1987
        resource_url: https://api.discogs.com/releases/249504
        uri: https://www.discogs.com/release/249504-Rick-Astley-Never-Gonna-Give-You-Up
        num_for_sale: 105
        lowest_price: 0.87
        master_id: 96559
        master_url: https://api.discogs.com/masters/96559
        format_quantity: 1
        estimated_weight: 230
        data_quality: Correct
        artists:
        - name: Rick Astley
          anv: ''
          role: ''
          id: 72872
          resource_url: https://api.discogs.com/artists/72872
        labels:
        - name: RCA
          catno: PB 41447
          id: 895
          resource_url: https://api.discogs.com/labels/895
        formats:
        - name: Vinyl
          qty: '1'
          descriptions:
          - 7"
          - 45 RPM
          - Single
          - Stereo
        tracklist:
        - position: A
          type_: track
          title: Never Gonna Give You Up
          duration: 3:32
        - position: B
          type_: track
          title: Never Gonna Give You Up (Instrumental)
          duration: 3:30
        community:
          have: 4051
          want: 579
          status: Accepted
          data_quality: Correct
          rating:
            count: 232
            average: 3.84
    ReleaseRating:
      type: object
      properties:
        username:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        release_id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        rating:
          type: integer
          minimum: 1
          maximum: 5

          format: int32
    CommunityReleaseRating:
      type: object
      properties:
        release_id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        rating:
          $ref: '#/components/schemas/ReleaseCommunityRating'

      example:
        release_id: 249504
        rating:
          count: 231
          average: 3.84
    ReleaseStats:
      type: object
      properties:
        num_have:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
        num_want:
          type: integer

    # --- Database: Master ---------------------------------------------------

          format: int32
          minimum: 0
          maximum: 2147483647
    Master:
      type: object
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        title:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        main_release:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        main_release_url:
          type: string
          format: uri
          maxLength: 2083
        versions_url:
          type: string
          format: uri
          maxLength: 2083
        uri:
          type: string
          format: uri
          maxLength: 2083
        resource_url:
          type: string
          format: uri
          maxLength: 2083
        artists:
          type: array
          items:
            $ref: '#/components/schemas/ArtistRef'
          maxItems: 500
        genres:
          type: array
          items:
            type: string
            maxLength: 500
            pattern: ^[\s\S]*$
          maxItems: 500
        styles:
          type: array
          items:
            type: string
            maxLength: 500
            pattern: ^[\s\S]*$
          maxItems: 500
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'
          maxItems: 500
        tracklist:
          type: array
          items:
            $ref: '#/components/schemas/Track'
          maxItems: 500
        videos:
          type: array
          items:
            $ref: '#/components/schemas/Video'
          maxItems: 500
        year:
          type: integer
          format: int32
          minimum: 1000
          maximum: 9999
        num_for_sale:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
        lowest_price:
          type: number
        data_quality:
          type: string

          maxLength: 500
          pattern: ^[\s\S]*$
      example:
        id: 1000
        title: Stardiver
        year: 1997
        genres:
        - Electronic
        styles:
        - Goa Trance
        data_quality: Correct
        main_release: 66785
        main_release_url: https://api.discogs.com/releases/66785
        versions_url: https://api.discogs.com/masters/1000/versions
        resource_url: https://api.discogs.com/masters/1000
        uri: https://www.discogs.com/master/1000-Electric-Universe-Stardiver
        num_for_sale: 13
        lowest_price: 11.25
        artists:
        - name: Electric Universe
          id: 21849
          resource_url: https://api.discogs.com/artists/21849
        tracklist:
        - position: '1'
          type_: track
          title: Alien Encounter (Part 2)
          duration: 7:00
        - position: '2'
          type_: track
          title: From The Heart
          duration: 7:13
    MasterVersionStats:
      type: object
      properties:
        user:
          type: object
          properties:
            in_collection:
              type: integer
              format: int32
              minimum: 0
              maximum: 2147483647
            in_wantlist:
              type: integer
              format: int32
              minimum: 0
              maximum: 2147483647
        community:
          type: object
          properties:
            in_collection:
              type: integer
              format: int32
              minimum: 0
              maximum: 2147483647
            in_wantlist:
              type: integer

              format: int32
              minimum: 0
              maximum: 2147483647
    MasterVersion:
      type: object
      description: A single item in the Master Release Versions list
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        status:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        stats:
          $ref: '#/components/schemas/MasterVersionStats'
        thumb:
          type: string
          format: uri
          maxLength: 2083
        format:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        major_formats:
          type: array
          items:
            type: string
            maxLength: 500
            pattern: ^[\s\S]*$
          maxItems: 500
        country:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        title:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        label:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        catno:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        released:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        resource_url:
          type: string
          format: uri

    # --- Database: Artist ----------------------------------------------------

          maxLength: 2083
    ArtistMember:
      type: object
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        name:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        active:
          type: boolean
        resource_url:
          type: string
          format: uri

          maxLength: 2083
    Artist:
      type: object
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        name:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        namevariations:
          type: array
          items:
            type: string
            maxLength: 500
            pattern: ^[\s\S]*$
          maxItems: 500
        profile:
          type: string
          maxLength: 5000
          pattern: ^[\s\S]*$
        releases_url:
          type: string
          format: uri
          maxLength: 2083
        resource_url:
          type: string
          format: uri
          maxLength: 2083
        uri:
          type: string
          format: uri
          maxLength: 2083
        urls:
          type: array
          items:
            type: string
            format: uri
            maxLength: 2083
          maxItems: 500
        data_quality:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'
          maxItems: 500
        members:
          type: array
          items:
            $ref: '#/components/schemas/ArtistMember'

          maxItems: 500
      example:
        id: 108713
        name: Nickelback
        profile: "Alternative rock band from Hanna, Alberta (Canada).\r\n\r\nThe band was formed in 1995. The band having
          sold almost 50 million albums worldwide, ranking as the 11th best selling music act of the 2000s, and is the 2nd
          best selling foreign act in the U.S. behind The Beatles for the 2000's."
        data_quality: Needs Vote
        resource_url: https://api.discogs.com/artists/108713
        uri: https://www.discogs.com/artist/108713-Nickelback
        releases_url: https://api.discogs.com/artists/108713/releases
        namevariations:
        - Nickel Back
        - Nickelbeck
        - Nicklback
        - Nickleback
        - Nikelback
        - ニッケルバック
        - 五分錢合唱團
        urls:
        - http://www.nickelback.com/
        - https://www.facebook.com/Nickelback/
        - https://twitter.com/Nickelback
        - https://www.instagram.com/nickelback/
        - https://www.youtube.com/user/nickelbacktv
        - https://www.youtube.com/user/NickelbackVEVO
        - https://en.wikipedia.org/wiki/Nickelback
        members:
        - id: 270222
          name: Chad Kroeger
          resource_url: https://api.discogs.com/artists/270222
          active: true
        - id: 685754
          name: Mike Kroeger
          resource_url: https://api.discogs.com/artists/685754
          active: true
    ArtistReleaseItem:
      type: object
      description: A single item in an Artist's Releases list (Release or Master stub)
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        title:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        artist:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        type:
          type: string
          enum: [release, master]
        main_release:
          type: integer
          description: Present only when type is "master"
          format: int64
          minimum: 1
          maximum: 2147483647
        role:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        year:
          type: integer
          format: int32
          minimum: 1000
          maximum: 9999
        format:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        label:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        status:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        thumb:
          type: string
          format: uri
          maxLength: 2083
        resource_url:
          type: string
          format: uri

    # --- Database: Label -----------------------------------------------------

          maxLength: 2083
    SubLabel:
      type: object
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        name:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        resource_url:
          type: string
          format: uri

          maxLength: 2083
    Label:
      type: object
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        name:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        profile:
          type: string
          maxLength: 5000
          pattern: ^[\s\S]*$
        contact_info:
          type: string
          maxLength: 5000
          pattern: ^[\s\S]*$
        releases_url:
          type: string
          format: uri
          maxLength: 2083
        resource_url:
          type: string
          format: uri
          maxLength: 2083
        uri:
          type: string
          format: uri
          maxLength: 2083
        urls:
          type: array
          items:
            type: string
            format: uri
            maxLength: 2083
          maxItems: 500
        sublabels:
          type: array
          items:
            $ref: '#/components/schemas/SubLabel'
          maxItems: 500
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'
          maxItems: 500
        data_quality:
          type: string

          maxLength: 500
          pattern: ^[\s\S]*$
      example:
        id: 1
        name: Planet E
        profile: "[a=Carl Craig]'s classic techno label founded in 1991.\r\n\r\nOn at least 1 release, Planet E is listed
          as publisher."
        contact_info: "Planet E Communications\r\nP.O. Box 27218\r\nDetroit, Michigan, MI 48227\r\nUSA\r\n\r\nPhone: +1 313
          874 8729\r…"
        data_quality: Needs Vote
        resource_url: https://api.discogs.com/labels/1
        uri: https://www.discogs.com/label/1-Planet-E
        releases_url: https://api.discogs.com/labels/1/releases
        sublabels: []
    LabelReleaseItem:
      type: object
      description: A single item in a Label's Releases list
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        title:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        artist:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        catno:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        format:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        status:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        thumb:
          type: string
          format: uri
          maxLength: 2083
        resource_url:
          type: string
          format: uri
          maxLength: 2083
        year:
          type: integer

    # --- Database: Search ----------------------------------------------------

          format: int32
          minimum: 1000
          maximum: 9999
    SearchResultCommunity:
      type: object
      properties:
        want:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
        have:
          type: integer

          format: int32
          minimum: 0
          maximum: 2147483647
    SearchResult:
      type: object
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          maximum: 2147483647
        type:
          type: string
          enum: [release, master, artist, label]
        title:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        uri:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        resource_url:
          type: string
          format: uri
          maxLength: 2083
        thumb:
          type: string
          format: uri
          maxLength: 2083
        country:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        year:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        genre:
          type: array
          items:
            type: string
            maxLength: 500
            pattern: ^[\s\S]*$
          maxItems: 500
        style:
          type: array
          items:
            type: string
            maxLength: 500
            pattern: ^[\s\S]*$
          maxItems: 500
        format:
          type: array
          items:
            type: string
            maxLength: 500
            pattern: ^[\s\S]*$
          maxItems: 500
        label:
          type: array
          items:
            type: string
            maxLength: 500
            pattern: ^[\s\S]*$
          maxItems: 500
        catno:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        barcode:
          type: array
          items:
            type: string
            maxLength: 500
            pattern: ^[\s\S]*$
          maxItems: 500
        community:
          $ref: '#/components/schemas/SearchResultCommunity'

# ---------------------------------------------------------------------------
# PATHS
# ---------------------------------------------------------------------------
      example:
        country: Europe
        year: '2015'
        format:
        - Vinyl
        - LP
        - Album
        - Reissue
        - Repress
        label:
        - DGC
        - Sub Pop
        - Back To Black
        - Sub Pop Records
        - The David Geffen Company
        - The David Geffen Company
        - Sound City Studios
        - Scream Studios
        - Masterdisk
        - Virgin Songs, Inc.
        - The End Of Music
        - Universal M & L, Germany
        type: release
        genre:
        - Rock
        style:
        - Alternative Rock
        - Grunge
        id: 7097051
        uri: /release/7097051-Nirvana-Nevermind
        catno: 424 425-1
        title: Nirvana - Nevermind
        thumb: ''
        resource_url: https://api.discogs.com/releases/7097051
        community:
          want: 12267
          have: 69592
  responses:
    Error400:
      description: Bad Request — invalid parameters or request body
      headers:
        Access-Control-Allow-Origin: &id001
          $ref: '#/components/headers/Access-Control-Allow-Origin'
        X-RateLimit-Limit: &id002
          $ref: '#/components/headers/X-RateLimit-Limit'
        RateLimit-Limit: &id003
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining: &id004
          $ref: '#/components/headers/RateLimit-Remaining'
        X-Discogs-Ratelimit: &id005
          $ref: '#/components/headers/RateLimit'
        X-Discogs-Ratelimit-Used: &id006
          $ref: '#/components/headers/RateLimitUsed'
        X-Discogs-Ratelimit-Remaining: &id007
          $ref: '#/components/headers/RateLimitRemaining'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Error401:
      description: Unauthorized — authentication is required
      headers:
        Access-Control-Allow-Origin: *id001
        X-RateLimit-Limit: *id002
        RateLimit-Limit: *id003
        RateLimit-Remaining: *id004
        X-Discogs-Ratelimit: *id005
        X-Discogs-Ratelimit-Used: *id006
        X-Discogs-Ratelimit-Remaining: *id007
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Error429:
      description: Too Many Requests — rate limit exceeded
      headers:
        RateLimit-Limit: &id008
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining: &id009
          $ref: '#/components/headers/RateLimit-Remaining'
        Access-Control-Allow-Origin: &id010
          $ref: '#/components/headers/Access-Control-Allow-Origin'
        X-Discogs-Ratelimit: &id011
          $ref: '#/components/headers/RateLimit'
        X-Discogs-Ratelimit-Used: &id012
          $ref: '#/components/headers/RateLimitUsed'
        X-Discogs-Ratelimit-Remaining: &id013
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Limit: *id002
        Retry-After:
          $ref: '#/components/headers/Retry-After'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Error500:
      description: Internal Server Error
      headers:
        Access-Control-Allow-Origin: *id001
        X-RateLimit-Limit: *id002
        RateLimit-Limit: *id003
        RateLimit-Remaining: *id004
        X-Discogs-Ratelimit: *id005
        X-Discogs-Ratelimit-Used: *id006
        X-Discogs-Ratelimit-Remaining: *id007
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
paths:

  # --- Authentication --------------------------------------------------

  /oauth/request_token:
    get:
      summary: Generate the request token
      tags: [Authentication]
      security: []
      parameters:
      - name: Authorization
        in: header
        required: true
        description: >
          OAuth oauth_consumer_key="...", oauth_nonce="...",
          oauth_signature="your_consumer_secret&",
          oauth_signature_method="PLAINTEXT", oauth_timestamp="...",
          oauth_callback="..."
        schema:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
      responses:
        '200':
          description: Returns oauth_token, oauth_token_secret, oauth_callback_confirmed headers
          headers:
            RateLimit-Limit: *id008
            RateLimit-Remaining: *id009
            Access-Control-Allow-Origin: *id010
            X-Discogs-Ratelimit: *id011
            X-Discogs-Ratelimit-Used: *id012
            X-Discogs-Ratelimit-Remaining: *id013
            X-RateLimit-Limit: *id002
        '400':
          description: Invalid OAuth request

          headers:
            X-RateLimit-Limit: *id002
            RateLimit-Limit: *id003
            RateLimit-Remaining: *id004
            Access-Control-Allow-Origin: &id014
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            X-Discogs-Ratelimit: *id005
            X-Discogs-Ratelimit-Used: *id006
            X-Discogs-Ratelimit-Remaining: *id007
        '401':
          $ref: '#/components/responses/Error401'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
  /oauth/access_token:
    post:
      summary: Generate the access token
      tags: [Authentication]
      security: []
      parameters:
      - name: Authorization
        in: header
        required: true
        description: >
          OAuth oauth_consumer_key="...", oauth_token="...",
          oauth_signature="your_consumer_secret&",
          oauth_signature_method="PLAINTEXT", oauth_timestamp="...",
          oauth_verifier="..."
        schema:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
      responses:
        '200':
          description: Returns oauth_token and oauth_token_secret headers
          headers:
            RateLimit-Limit: *id008
            RateLimit-Remaining: *id009
            Access-Control-Allow-Origin: *id010
            X-Discogs-Ratelimit: *id011
            X-Discogs-Ratelimit-Used: *id012
            X-Discogs-Ratelimit-Remaining: *id013
            X-RateLimit-Limit: *id002
        '400':
          description: Expired verifier or malformed request

  # --- Database: Release -------------------------------------------------

          headers:
            X-RateLimit-Limit: *id002
            RateLimit-Limit: *id003
            RateLimit-Remaining: *id004
            Access-Control-Allow-Origin: *id014
            X-Discogs-Ratelimit: *id005
            X-Discogs-Ratelimit-Used: *id006
            X-Discogs-Ratelimit-Remaining: *id007
        '401':
          $ref: '#/components/responses/Error401'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
  /releases/{release_id}:
    get:
      summary: Get a release
      tags: [Database]
      parameters:
      - name: release_id
        in: path
        required: true
        description: The Release ID
        schema:
          type: string
          pattern: ^[0-9]+$
          maxLength: 20
        example: 249504
      - $ref: '#/components/parameters/currAbbrParam'
      responses:
        '200':
          description: OK
          headers:
            X-Discogs-Ratelimit:
              $ref: '#/components/headers/RateLimit'
            X-Discogs-Ratelimit-Used:
              $ref: '#/components/headers/RateLimitUsed'
            X-Discogs-Ratelimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Limit: *id008
            RateLimit-Remaining: *id009
            Access-Control-Allow-Origin: *id010
            X-RateLimit-Limit: *id002
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Release'
        '404':
          description: Release not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            X-RateLimit-Limit: *id002
            RateLimit-Limit: *id003
            RateLimit-Remaining: *id004
            X-Discogs-Ratelimit: *id005
            X-Discogs-Ratelimit-Used: *id006
            X-Discogs-Ratelimit-Remaining: *id007
        '401':
          $ref: '#/components/responses/Error401'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '422':
          $ref: '#/components/responses/Error400'
      security: *id015
  /releases/{release_id}/rating/{username}:
    get:
      summary: Get Release Rating By User
      description: Retrieves the release's rating for a given user.
      tags: [Database]
      parameters:
      - name: release_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9]+$
          maxLength: 20
        example: 249504
      - name: username
        in: path
        required: true
        description: The username of the rating you are trying to request
        schema:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        example: vargind
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseRating'
          headers:
            RateLimit-Limit: *id008
            RateLimit-Remaining: *id009
            Access-Control-Allow-Origin: *id010
            X-Discogs-Ratelimit: *id011
            X-Discogs-Ratelimit-Used: *id012
            X-Discogs-Ratelimit-Remaining: *id013
            X-RateLimit-Limit: *id002
        '401':
          $ref: '#/components/responses/Error401'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '422':
          $ref: '#/components/responses/Error400'
      security: *id015
    put:
      summary: Update Release Rating By User
      description: >
        Updates the release's rating for a given user.
        Authentication as the user is required.
      tags: [Database]
      parameters:
      - name: release_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9]+$
          maxLength: 20
        example: 249504
      - name: username
        in: path
        required: true
        schema:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        example: vargind
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rating:
                  type: integer
                  minimum: 1
                  maximum: 5
                  description: The new rating for a release between 1 and 5
                  format: int32
              required: [rating]
            example:
              rating: 4
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseRating'
          headers:
            RateLimit-Limit: *id008
            RateLimit-Remaining: *id009
            Access-Control-Allow-Origin: *id010
            X-Discogs-Ratelimit: *id011
            X-Discogs-Ratelimit-Used: *id012
            X-Discogs-Ratelimit-Remaining: *id013
            X-RateLimit-Limit: *id002
        '422':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
      security: *id015
    delete:
      summary: Delete Release Rating By User
      description: >
        Deletes the release's rating for a given user.
        Authentication as the user is required.
      tags: [Database]
      parameters:
      - name: release_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9]+$
          maxLength: 20
        example: 249504
      - name: username
        in: path
        required: true
        schema:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        example: vargind
      responses:
        '204':
          description: No Content

          headers:
            RateLimit-Limit: *id008
            RateLimit-Remaining: *id009
            Access-Control-Allow-Origin: *id010
            X-Discogs-Ratelimit: *id011
            X-Discogs-Ratelimit-Used: *id012
            X-Discogs-Ratelimit-Remaining: *id013
            X-RateLimit-Limit: *id002
        '401':
          $ref: '#/components/responses/Error401'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '422':
          $ref: '#/components/responses/Error400'
      security: *id015
  /releases/{release_id}/rating:
    get:
      summary: Get Community Release Rating
      description: Retrieves the community release rating average and count.
      tags: [Database]
      parameters:
      - name: release_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9]+$
          maxLength: 20
        example: 249504
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityReleaseRating'

          headers:
            RateLimit-Limit: *id008
            RateLimit-Remaining: *id009
            Access-Control-Allow-Origin: *id010
            X-Discogs-Ratelimit: *id011
            X-Discogs-Ratelimit-Used: *id012
            X-Discogs-Ratelimit-Remaining: *id013
            X-RateLimit-Limit: *id002
        '401':
          $ref: '#/components/responses/Error401'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '422':
          $ref: '#/components/responses/Error400'
      security: *id015
  /releases/{release_id}/stats:
    get:
      summary: Get Release Stats
      description: Retrieves the release's "have" and "want" counts.
      tags: [Database]
      parameters:
      - name: release_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9]+$
          maxLength: 20
        example: 249504
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseStats'

  # --- Database: Master ---------------------------------------------------

          headers:
            RateLimit-Limit: *id008
            RateLimit-Remaining: *id009
            Access-Control-Allow-Origin: *id010
            X-Discogs-Ratelimit: *id011
            X-Discogs-Ratelimit-Used: *id012
            X-Discogs-Ratelimit-Remaining: *id013
            X-RateLimit-Limit: *id002
        '401':
          $ref: '#/components/responses/Error401'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '422':
          $ref: '#/components/responses/Error400'
      security: *id015
  /masters/{master_id}:
    get:
      summary: Get a master release
      tags: [Database]
      parameters:
      - name: master_id
        in: path
        required: true
        description: The Master ID
        schema:
          type: string
          pattern: ^[0-9]+$
          maxLength: 20
        example: 1000
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Master'
          headers:
            RateLimit-Limit: *id008
            RateLimit-Remaining: *id009
            Access-Control-Allow-Origin: *id010
            X-Discogs-Ratelimit: *id011
            X-Discogs-Ratelimit-Used: *id012
            X-Discogs-Ratelimit-Remaining: *id013
            X-RateLimit-Limit: *id002
        '404':
          description: Master Release not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            X-RateLimit-Limit: *id002
            RateLimit-Limit: *id003
            RateLimit-Remaining: *id004
            X-Discogs-Ratelimit: *id005
            X-Discogs-Ratelimit-Used: *id006
            X-Discogs-Ratelimit-Remaining: *id007
        '401':
          $ref: '#/components/responses/Error401'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '422':
          $ref: '#/components/responses/Error400'
      security: *id015
  /masters/{master_id}/versions:
    get:
      summary: Get all Master versions
      description: >
        Retrieves a list of all Releases that are versions of this master.
        Accepts Pagination parameters.
      tags: [Database]
      parameters:
      - name: master_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9]+$
          maxLength: 20
        example: 1000
      - $ref: '#/components/parameters/pageParam'
      - $ref: '#/components/parameters/perPageParam'
      - name: format
        in: query
        description: The format to filter
        schema:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        example: Vinyl
      - name: label
        in: query
        description: The label to filter
        schema:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        example: Scorpio Music
      - name: released
        in: query
        description: The release year to filter
        schema:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        example: "1992"
      - name: country
        in: query
        description: The country to filter
        schema:
          type: string
          maxLength: 500
          pattern: ^[\s\S]*$
        example: Belgium
      - name: sort
        in: query
        schema:
          type: string
          enum: [released, title, format, label, catno, country]
      - name: sort_order
        in: query
        schema:
          type: string
          enum: [asc, desc]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  versions:
                    type: array
                    items:
                      $ref: '#/components/schemas/MasterVersion'
                    maxItems: 500
          headers:
            RateLimit-Limit: *id008
            RateLimit-Remaining: *id009
            Access-Control-Allow-Origin: *id010
            X-Discogs-Ratelimit: *id011
            X-Discogs-Ratelimit-Used: *id012
            X-Discogs-Ratelimit-Remaining: *id013
            X-RateLimit-Limit: *id002
        '404':
          description: Master Release not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # --- Database: Artist ----------------------------------------------------

          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            X-RateLimit-Limit: *id002
            RateLimit-Limit: *id003
            RateLimit-Remaining: *id004
            X-Discogs-Ratelimit: *id005
            X-Discogs-Ratelimit-Used: *id006
            X-Discogs-Ratelimit-Remaining: *id007
        '422':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
      security: *id015
  /artists/{artist_id}:
    get:
      summary: Get an artist
      tags: [Database]
      parameters:
      - name: artist_id
        in: path
        required: true
        description: The Artist ID
        schema:
          type: string
          pattern: ^[0-9]+$
          maxLength: 20
        example: 108713
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artist'
          headers:
            RateLimit-Limit: *id008
            RateLimit-Remaining: *id009
            Access-Control-Allow-Origin: *id010
            X-Discogs-Ratelimit: *id011
            X-Discogs-Ratelimit-Used: *id012
            X-Discogs-Ratelimit-Remaining: *id013
            X-RateLimit-Limit: *id002
        '404':
          description: Artist not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            X-RateLimit-Limit: *id002
            RateLimit-Limit: *id003
            RateLimit-Remaining: *id004
            X-Discogs-Ratelimit: *id005
            X-Discogs-Ratelimit-Used: *id006
            X-Discogs-Ratelimit-Remaining: *id007
        '401':
          $ref: '#/components/responses/Error401'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '422':
          $ref: '#/components/responses/Error400'
      security: *id015
  /artists/{artist_id}/releases:
    get:
      summary: Get an artist's releases
      description: >
        Returns a list of Releases and Masters associated with the Artist.
        Accepts Pagination parameters.
      tags: [Database]
      parameters:
      - name: artist_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9]+$
          maxLength: 20
        example: 108713
      - $ref: '#/components/parameters/pageParam'
      - $ref: '#/components/parameters/perPageParam'
      - name: sort
        in: query
        schema:
          type: string
          enum: [year, title, format]
      - name: sort_order
        in: query
        schema:
          type: string
          enum: [asc, desc]
      responses:
        '200':
          description: OK
          headers:
            X-Discogs-Ratelimit:
              $ref: '#/components/headers/RateLimit'
            X-Discogs-Ratelimit-Used:
              $ref: '#/components/headers/RateLimitUsed'
            X-Discogs-Ratelimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            RateLimit-Limit: *id008
            RateLimit-Remaining: *id009
            Access-Control-Allow-Origin: *id010
            X-RateLimit-Limit: *id002
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  releases:
                    type: array
                    items:
                      $ref: '#/components/schemas/ArtistReleaseItem'
                    maxItems: 500
        '404':
          description: Artist not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # --- Database: Label -----------------------------------------------------

          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            X-RateLimit-Limit: *id002
            RateLimit-Limit: *id003
            RateLimit-Remaining: *id004
            X-Discogs-Ratelimit: *id005
            X-Discogs-Ratelimit-Used: *id006
            X-Discogs-Ratelimit-Remaining: *id007
        '422':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
      security: *id015
  /labels/{label_id}:
    get:
      summary: Get a label
      tags: [Database]
      parameters:
      - name: label_id
        in: path
        required: true
        description: The Label ID
        schema:
          type: string
          pattern: ^[0-9]+$
          maxLength: 20
        example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
          headers:
            RateLimit-Limit: *id008
            RateLimit-Remaining: *id009
            Access-Control-Allow-Origin: *id010
            X-Discogs-Ratelimit: *id011
            X-Discogs-Ratelimit-Used: *id012
            X-Discogs-Ratelimit-Remaining: *id013
            X-RateLimit-Limit: *id002
        '404':
          description: Label not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            X-RateLimit-Limit: *id002
            RateLimit-Limit: *id003
            RateLimit-Remaining: *id004
            X-Discogs-Ratelimit: *id005
            X-Discogs-Ratelimit-Used: *id006
            X-Discogs-Ratelimit-Remaining: *id007
        '401':
          $ref: '#/components/responses/Error401'
        '429':
          $ref: '#/components/responses/Error429'
        '500':
          $ref: '#/components/responses/Error500'
        '422':
          $ref: '#/components/responses/Error400'
      security: *id015
  /labels/{label_id}/releases:
    get:
      summary: Get all Label Releases
      description: >
        Returns a list of Releases associated with the label.
        Accepts Pagination parameters.
      tags: [Database]
      parameters:
      - name: label_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9]+$
          maxLength: 20
        example: 1
      - $ref: '#/components/parameters/pageParam'
      - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  releases:
                    type: array
                    items:
                      $ref: '#/components/schemas/LabelReleaseItem'
                    maxItems: 500
          headers:
            RateLimit-Limit: *id008
            RateLimit-Remaining: *id009
            Access-Control-Allow-Origin: *id010
            X-Discogs-Ratelimit: *id011
            X-Discogs-Ratelimit-Used: *id012
            X-Discogs-Ratelimit-Remaining: *id013
            X-RateLimit-Limit: *id002
        '404':
          description: Label not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # --- Database: Search ----------------------------------------------------

          headers:
[...]
